 <div class="footer">
        <div class="footer-logo">
            <img src="assets/imgs/hartfordlogo.jpeg" alt="The Hartford" />
        </div>
<div class="foo">
    <div class="icon">
        <img src="assets/imgs/facebook.png" alt="Facebook" />
        <img src="assets/imgs/youtube.png" alt="YouTube" />
        <img src="assets/imgs/linkdin.png" alt="LinkedIn" />
        <img src="assets/imgs/instgrm.png" alt="Instagram" />
    </div>
    <div class="footer-links">
            <span>Legal Notice</span>
            <span>Accessibility Statement</span>
            <span>Producer Compensation</span>
            <span>EEO</span>
            <span>Privacy Policy</span>
            <span>Your California Privacy Choices</span>
        </div>

        <div class="footer-copy">
            © 2026 The Hartford
        </div>
 </div>
</div>
        