<div class="container">
  <nav class="navbar">
  <div class="logo">
    <img src="assets/imgs/hartfordlogo.jpeg" alt="Logo"/>
  </div>
  <ul class="nav-links">
    <li><a routerLink="/">Auto</a></li>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/business">Business</a></li>
    <li><a routerLink="/employeebenefits">EmployeeBenefits</a></li>
    <li><a routerLink="/about">about</a></li>
  </ul>
  <input type="text" placeholder="Help Me Find..." style="padding:4px;">
</nav>
</div>

