.grid_body{
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content:space-around;
  gap: 20px;
}
.grid1{
    display:grid;
    grid-template-columns: repeat(3, 17em);
    gap:18px;
}
.grid2{
    display:grid;
    justify-content:center;
    background-color: aquamarine;
    height:301px;
    width:301px;
}
#p1{
    height:187px;
    width:187px;
    padding:24px;
    align-self:center;
}
h1{
    text-align:center;
}
.item{
    display:grid;
    align-items:center;
    justify-content:space-evenly;
    border:1px black;
    border-radius:18px;
    box-shadow: 1px -1px 18px grey;
    padding-top:10px;
    padding-bottom:10px;
    height:301px;
    width:17em;
    align-items:flex-start;
}
.grid img {
height:187px;
width:187px;
border-radius:18px;
}
.name{
  display:grid;
  justify-content:center;
}
button{
  border:1px solid black;
  border-radius:18px;
  width:71px;
  height:31px;
  background-color: antiquewhite;
}
@media only screen and (max-width:1200px){
    .grid_body{
        grid-template-columns:1fr;
    }
    .grid1{
        grid-template-columns: repeat(2, 318px);
        justify-content:center;
    }
    .grid2{
        display:none;
    }
}
@media only screen and (max-width:670px){
    .grid_body{
        grid-template-columns:1fr;
    }
    .grid1{
        grid-template-columns: repeat(1, 318px);
        justify-content:center;

    }
    .grid2{
        display:none;
    }
}
