.grid_body{
  display: grid;
  grid-template-columns: repeat(3, 318px);
  justify-content:space-around;
  gap: 20px;
}
.item{
    display:grid;
    align-items:center;
    justify-content:space-evenly;
    border:1px black;
    border-radius:18px;
    box-shadow: 1px -1px 18px grey;
    padding-top:10px;
    padding-bottom:10px;
    height:301px;
    align-items:flex-start;
}
.grid img {
height:187px;
width:301px;
border-radius:18px;
}
.name{
  display:grid;
  justify-content:center;
}
button{
  border:1px solid black;
  border-radius:18px;
  width:71px;
  height:31px;
  background-color: antiquewhite;
}
 @media only screen and (max-width:600px) {
        .grid_body{
            grid-template-columns: repeat(1, 378px);
        }
    }
@media only screen and (min-width:601px) and (max-width:900px) {
        .grid_body{
            grid-template-columns: repeat(2, 318px);
        }
    }
@media only screen and (min-width:901px) and (max-width:1200px) {
        .grid_body{
            grid-template-columns: repeat(3, 318px);
        }
    }