<div class="insurance">
    <div class="card">
        <img src="../../assets/imgs/auto.png" alt="">
        <h3>Auto Insurance</h3>
         <input type="radio" name="circle">
    </div>
    <div class="card">
        <img src="../../assets/imgs/home.png" alt="">
        <h3>Home Insurance</h3>
          
         <input type="radio" name="circle">
    </div>
<div class="card">
        <img src="../../assets/imgs/image.png" alt="">
        <h3>Auto+Home</h3>
         <input type="radio" name="circle">
         </div>
<div class="card">
        <img src="../../assets/imgs/briefcase.png" alt="">
        <h3>Business Insurance</h3>
        <input type="radio" name="circle">
    </div>
</div>