<header class="header">
    <div class="header-column">
        <h4>Products</h4>

        <a routerLink="/auto">Auto</a>
        <a routerLink="/home">Home</a>
        <a routerLink="/business">Business</a>
        <a routerLink="/employeebenefits">Employee Benefits</a>
        <a routerLink="/mutualfunds">Mutual Funds</a>
    </div>

    <div class="header-column">
        <h4>Company</h4>
        <a routerLink="/about">About Us</a>
        <a routerLink="/careers">Careers</a>
        <a routerLink="/agents">Agents & Producers</a>
        <a routerLink="/newsroom">Newsroom</a>
        <a routerLink="/investors">Investor Relations</a>
        <a routerLink="/mobileapp">Mobile App</a>
    </div>

    <div class="header-column">
        <h4>Connect</h4>
        <a routerLink="/contact">Contact Us</a>
        <a routerLink="/claim">Report a Claim</a>
        <a routerLink="/find-agent">Find an Agent</a>
        <a routerLink="/playbook">Small Business Playbook</a>
        <a routerLink="/smallbiz">Small Biz Ahead</a>
        <a routerLink="/extramile">Extra Mile</a>
    </div>

    <div class="header-column login">
        <h4>Access Your Account</h4>
        <p>View your policy, pay your bill, view claims status and more.</p>

        <button class="btn primary">Auto & Home Login</button>
        <button class="btn secondary">Business Insurance Login</button>
    </div>
</header>
<hr />